.table {
  width: auto;
  border-radius: 10px;
  border-collapse: collapse;
  overflow: hidden;
  color: var(--text);
}

/* ==== Header ==== */
.table thead tr {
  background-color: color-mix(in srgb, var(--bg) 85%, black 15%);
  /* un peu plus foncé que var(--bg) */
}

.table th {
  text-align: left;
  padding: 0.75rem;
  font-weight: 600;
  border-bottom: 2px solid var(--border);
  border-right: 2px solid var(--border); /* Bordure verticale entre les colonnes */
}

/* Supprime la dernière bordure droite de l'en-tête */
.table th:last-child {
  border-right: none;
}

/* ==== Body ==== */
.table td {
  padding: 0.75rem;
  border-bottom: 2px solid var(--border);
  border-right: 2px solid var(--border); /* Bordure verticale entre les colonnes */
}

/* Supprime la dernière bordure droite des cellules */
.table td:last-child {
  border-right: none;
}

/* Supprime la bordure du bas de la dernière ligne */
.table tbody tr:last-child td {
  border-bottom: none;
}

/* ==== Full width ==== */
.fullWidth {
  width: 100%;
}