.table {
  width: auto;
  border-radius: 8px;
  border-collapse: collapse;
  overflow: hidden;
  font-size: var(--size-font);
  color: var(--text);

  & thead tr {
    background-color: color-mix(in srgb, var(--bg) 95%, var(--color-mix-lighten) 5%);
    border-bottom: 2px solid var(--border);
  }

  & thead th {
    padding: 12px;
    text-align: left;
    font-weight: 600;
    border-right: 2px solid var(--border);
  }

  & thead th:last-child {
    border-right: none;
  }

  & tbody tr {
    background-color: color-mix(in srgb, var(--bg) 85%, var(--color-mix-lighten) 15%);
    color: var(--text-alt);
    &:hover{
      background-color: var(--bg-alt);
      color:var(--text-alt)
    }
  }

  & tbody tr:nth-child(even) {
    background-color: color-mix(in srgb, var(--bg) 75%, var(--color-mix-lighten) 25%);
    color: var(--text-alt);
    &:hover{
      background-color: var(--bg-alt);
      color:var(--text-alt)
    }
  }

  & tbody td {
    padding: 12px;
    border-bottom: 2px solid var(--border);
    border-right: 2px solid var(--border);
    
  }

  & tbody td:last-child {
    border-right: none;
  }

  & tbody tr:last-child td {
    border-bottom: none;
  }
}