.text {
    display: inline;
    color: var(--text-alt);
    font-size: var(--size-font);
}



/* Alignement */

.align-center,
.align-right,
.align-justify {
    width: 100%;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-justify {
    text-align: justify;
}



/* Poids */

.weight-light {
    font-weight: var(--font-weight-light);
}

.weight-regular {
    font-weight: var(--font-weight-normal);
}

.weight-medium {
    font-weight: var(--font-weight-medium);
}

.weight-bold {
    font-weight: var(--font-weight-bold);
}

/* Ajustements sémantiques */

.Text[as="p"] {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
}
