.item {
  width: 100%;
  padding: 0.75rem 1rem;
  text-align: left;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 8px;
}

.text-primary {
  color: var(--primary-text);
}

.text-secondary {
  color: var(--secondary-text)
}

.text-neutral {
  color: var(--neutral-text)
}

.text-error {
  color: var(--error-text)
}

.text-success {
  color: var(--success-text)
}

.text-info {
  color: var(--info-text)
}

.primary.active {
  border-left: solid 4px var(--color-primary-border);
  background: var(--color-primary);
  color: var(--color-primary-text);
}

.primary:hover:not(.active) {
  background: var(--color-primary-hover);
  color: var(--color-primary-text);
}

.secondary.active {
  border-left: solid 4px var(--color-secondary-border);
  background: var(--color-secondary);
  color: var(--color-secondary-text)
}

.secondary:hover:not(.active){
  background: var(--color-secondary-hover);
  color: var(--color-secondary-text);
}

.warning.active {
  border-left: solid 4px var(--warning-button);
  background: color-mix(in srgb, var(--warning-button) 20%, transparent);
}

.neutral.active {
  border-left: solid 4px var(--neutral-button);
  background: color-mix(in srgb, var(--neutral-button) 20%, transparent);
}