.sectionHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.75rem 1rem;
    text-align: left;
    background: transparent;
    border: none;
    cursor: pointer;

}

.sectionContent {
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  gap:5px;
}

/* Tailes */

.small{
  font: var(--heading-5);
}

.medium{
  font: var(--heading-4);
}

.large{
  font: var(--heading-3);
}

/* Couleur */
.primary{
    color:var(--primary-text);
}

.secondary{
    color:var(--secondary-text);
}
.disabled{
    color:var(--disabled-text);
}
.success{
    color:var(--success-text);
}
.error{
    color:var(--error-text);
}
.info{
    color:var(--info-text);
}
.neutral{
    color:var(--neutral-text);
}
