/* ========================================
   VARIANTS DE TEXTE
   ======================================== */

/* === couleurs === */
.text-none{
    color: inherit;
}

.text-primary {
    color: var(--primary-text);
}

.text-secondary {
    color: var(--secondary-text);
}

.text-neutral {
    color: var(--neutral-text);
}

.text-error {
    color: var(--error-text);
}

.text-success {
    color: var(--success-text);
}

.text-info {
    color: var(--info-text);
}

/* === Tailles === */
.text-small{
    font:var(--text-body-small);
}

.text-medium{
    font:var(--text-body-medium);
}

.text-large{
    font:var(--text-body-large);
}

.title-small{
    font:var(--heading-5)
}

.title-medium{
    font:var(--heading-4)
}

.title-large{
    font:var(--heading-3)
}

/* === Allignement === */
.text-fullWidth{
    width: 100%;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}