.container{
    display: flex;
    flex-direction: column;
    margin:8px;
    width: 300px;
}

.switchWrapper{
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
}

.switchWrapper > :nth-child(2) {
    justify-self: end; 
}
.switchWrapper > :nth-child(1) {
    justify-self: start; 
}