.accordion {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.section {
  display: flex;
  flex-direction: column;
  padding: 4px 0px;

  .button {
    text-align: left;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5em;
    color: var(--text-alt);
    font-size: var(--size-font);
  }

  .buttonAlignEdge {
    justify-content: space-between;
    gap: 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 10px;
  }
}

.item {
  text-align: left;
  border: none;
  cursor: pointer;

  border-radius: 8px;

  padding: 4px 0px;
  font-size: var(--size-font);
  /* min-height: var(--size-height); */

  transition: all 0.2s ease-in-out;

  background-color: transparent;
  border: none;
  color: var(--text-alt);

  &:hover:not(:disabled) {
    padding: 4px 10px;
    background-color: rgba(var(--color-hover-overlay), 0.05);
  }


  &:active:not(:disabled) {
    transform: scale(0.98);
  }

  &:disabled {
    background-color: var(--color-disabled);
    color: var(--color-disabled-text);
    border: solid 1px var(--color-disabled);
    cursor: not-allowed;
    opacity: 0.6;
  }

  &.active {
    padding: 4px 10px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-left: solid 5px var(--bg);
  }
}