.contain{
    display: flex;
    flex-direction: row;
}

button{
    background: none;
    border:none;
}


.aside {
    padding: 12px;
    box-sizing: border-box;
    overflow-y: auto;
    max-height: 100vh;
}