.primary {
  color: var(--primary-text);
}

.secondary {
  color: var(--secondary-text);
}

.dark {
  color: var(--dark-text);
}

.light {
  color: var(--light-text);
}

.neutral {
  color: var(--neutral-color);
}

.success {
  color: var(--success-color);
}

.warning {
  color: var(--warning-color);
}

.left {
  text-align: start;
}

.right {
  text-align: end;
}

.center{
  text-align: center;
}

.justify{
  text-align: justify;
}