/**
 * @file Composant {{NAME}}
 * @module components/ui/{{NAME}}
 */

import type { JSX } from "react";
import styles from "./{{NAME}}.module.css";
import { {{UPPER_NAME}}_DEFAULTS, type {{NAME}}Props } from './{{NAME}}.types';

/**
 * Composant {{NAME}} - Description simple
 * 
 * Description détaillé
 * 
 * @component
 * 
 * @param {{{NAME}}Props} props - Les propriétés du composant.
 * @param
 * 
 * Les types détaillés sont définis dans {@link {{NAME}}Props}.
 * @example
 * ```tsx
 * // Utilisation simple
 * <{{NAME}} />
 * ```
 */
const {{NAME}} = ({ variant = {{UPPER_NAME}}_DEFAULTS.variant }: {{NAME}}Props): JSX.Element => {
  return (
    <div className={styles[variant]}>
      test
    </div>
  );
};

export default {{NAME}};